1.C/C Lec 1
1.C/C Lec 3
1.C/C Lec 4
1.C/Exams
1.C/Recordings
1.C/codeblocks.zip
2.Linux/PDFs
2.Linux/Videos
3.C++ oop/C++ OOP  محمد الدسوقي
3.C++ oop/Recordings
3.C++ oop/oop.pptx
4.DB Fundamentals
5.Python/Day 01
5.Python/Day 02
5.Python/Day 03
5.Python/Day 04
5.Python/Day 05
5.Python/Day 06
5.Python/Py Libraries.pdf
5.Python/Python Summary.pdf
6.NumPy & SciPy/NumPy Lec-20231124_090602-Meeting Recording.mp4
6.NumPy & SciPy/NumPy Lec-20231124_124952-Meeting Recording.mp4
.idea
7.Linear Algebra/Day 01
7.Linear Algebra/Day 02
7.Linear Algebra/Day 03
7.Linear Algebra/Day 04
7.Linear Algebra/Day 05
7.Linear Algebra/Exams
7.Linear Algebra/Home Work
7.Linear Algebra/Writings
7.Linear Algebra/LA Part1.pdf
7.Linear Algebra/LA Part2.pdf
7.Linear Algebra/LA Part3.pdf
7.Linear Algebra/LA Part4.pdf
7.Linear Algebra/LA Part5.pdf
8.Pandas/Data
8.Pandas/Resources
8.Pandas/Day 1 - Pandas.pdf
8.Pandas/Lab 1.rar
8.Pandas/Lab 2.rar
8.Pandas/Pandas Lab.ipynb
9.Matplotlib & Seaborn/Matplotlib
9.Matplotlib & Seaborn/Resources
9.Matplotlib & Seaborn/Day 2 - Matplotlib and seaborn.pdf
9.Matplotlib & Seaborn/Python libraries - Day 2-20231127_091605-Meeting Recording.mp4
9.Matplotlib & Seaborn/Python libraries-20231126_090829-Meeting Recording 1.mp4
9.Matplotlib & Seaborn/Python libraries-20231126_090829-Meeting Recording.mp4
10.Data Preparation/Data Exploration and Preparation
10.Data Preparation/Day 01
10.Data Preparation/archive.zip
10.Data Preparation/Data Exploration and Preparation_Session_2.pptx
10.Data Preparation/Data Exploration and Preparation_Session_3.pptx
10.Data Preparation/Data Exploration and Preparation_Session_4.pdf
10.Data Preparation/Data Exploration and Preparation_Session_5.pptx
10.Data Preparation/Data Exploration and Preparation_Session_6.pptx
10.Data Preparation/database.sqlite
10.Data Preparation/day 05 part1.mp4
10.Data Preparation/OneDrive_2023-02-05 (1).zip
11.Probability & Statistics/Exams
11.Probability & Statistics/Probability
11.Probability & Statistics/Statisics
12.Big Data and Cloud
13.Machine Learning 1/Hegab
13.Machine Learning 1/Lecs
13.Machine Learning 1/Project
13.Machine Learning 1/Videos
13.Machine Learning 1/California.png
14.Optmization/Others
14.Optmization/٢٦ يناير ٩.٤٠ ص​.mp3
15.Machine Learning 2/Days
15.Machine Learning 2/Project K means
15.Machine Learning 2/archive.zip
15.Machine Learning 2/CC GENERAL.csv
16.Data Struture & Algorithms/Days
16.Data Struture & Algorithms/Exams
16.Data Struture & Algorithms/Lab1 - Menu.ipynb
16.Data Struture & Algorithms/Lab1 (Menu - Stack - Queue).ipynb
16.Data Struture & Algorithms/Lab3 - Queue.ipynb
16.Data Struture & Algorithms/Exam Preparation
17.Data Visualization
18. Deep Learning
Git workarea
Intake 43
ITI Prep
MaharaTech
Python For DataScience
Soft Skills